<div class='container px-5 px-sm-0'>
  <div class='row d-flex flex-column'>
    <h2>Follower Users</h2>
    <% if @users.exists? %>
      <%= render '/users/index', users: @users %>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
  </div>
</div>