<div class="container">
  <div class="row">
    <div class="col-md-3">
    <%= render 'info', user: current_user %>
    <%= render 'books/newbook', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Users</h1>
      <%= render 'index',users: @users %>
    </div>
  </div>
</div>