  <%= render 'layouts/errors', model: @book %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info', user: current_user %>
      <%= render 'newbook', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
     <%= render 'index', books: @books%>
    </div>
  </div>
</div>