<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>Welcome to <i class="fa-solid fa-book"></i>Bookers!!</h1>
      <p>in<i class="fa-solid fa-book"></i>Bookers,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      <div>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-success w-100" %>
      </div>
      <div>
        <%= link_to "Sign up",new_user_registration_path, class: "btn btn-primary w-100" %>
      </div>
    </div>
  </div>
</div>